<div class="super-container">
  <div class="headers-height">
    <app-header></app-header>
  </div>

  <div class="main-container">
    <div class="main-panel">

      <div class="container">
        <div class="mb-20">
          <h3 class="default-text-color">Admin</h3>
        </div>

        <div>
          <igx-list>
            <igx-list-item isHeader="true">Users</igx-list-item>
            <igx-list-item *ngFor="let user of users$ | async">{{ user.name }} | {{ user.email }}</igx-list-item>
          </igx-list>
        </div>

        <div>
          <button mat-fab color="primary" [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>

      <div class="container sass-training">
        <h3 class="sass-pink-h3">
          {{ processing | replaceUnderscore : true }}
        </h3>
      </div>

    </div>
  </div>
</div>
