<div class="height-95 margin-bottom-20" *ngIf="records$ | async">
  <div class="flex flex-start w-100 margin-bottom-20">
    <h5 class="flex-grow-1 margin-top-0">{{ 'HEADERS.RECORDS' | translate }}</h5>

    <button
      class="btn btn-primary" [routerLink]="['/records/add']"
      igxButton="raised" igxButtonColor="white" igxButtonBackground="#000" igxRipple="yellow"
    >
      {{ 'LABELS.ADD_RECORD' | translate }}
    </button>
  </div>

  <div class="height-100 grid-wrapper titan-custom-igx-grid margin-top-20">
    <igx-grid #recordsListGrid [data]="records$ | async" [primaryKey]="'id'" width="100%" style="min-height: 700px"
              [autoGenerate]="false" [showToolbar]="true" [columnHiding]="true"
              [columnPinning]="true" [hideRowSelectors]="true" [clipboardOptions]="clipboardOptions" [allowFiltering]="true"
              [rowSelection]="'single'" (onRowSelectionChange)="handleRowSelection($event)">

      <igx-column field="body" [header]="'Body'" [dataType]="'string'" [resizable]="true"
                  [hasSummary]="true" [sortable]="true" [movable]="true">
      </igx-column>
      <igx-column field="title" [header]="'Title'" [dataType]="'string'"
                  [resizable]="true" [movable]="true" [sortable]="true">
      </igx-column>
      <igx-column field="id" [header]="'Actions'" [dataType]="'string'" width="130px"
                  [resizable]="false" [filterable]="false" [headerClasses]="'text-center'">
        <ng-template igxCell let-value>
          <div class="w-100 text-center action-show-when-hover">
            <button igxButton="icon" igxRipple="white" igxButtonColor="#337ab7" igxButtonBackground="transparent"
                    igxRippleCentered="true" [routerLink]="['/records', value]">
              <igx-icon fontSet="material">visibility</igx-icon>
            </button>

            <button igxButton="icon" igxRipple="white" igxButtonColor="darkred" igxButtonBackground="transparent"
                    igxRippleCentered="true" (click)="dialog.open()">
              <igx-icon fontSet="material">delete</igx-icon>
            </button>
          </div>
        </ng-template>
      </igx-column>
    </igx-grid>

    <igx-hint>
      <span class="grid-footer-hint-message">
        We are using <b>jsonplaceholder.typicode</b> api and it does not allow to manipulate with all data!!!
      </span>
    </igx-hint>
  </div>
</div>

<igx-dialog #dialog title="Confirmation"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="OK"
            (onRightButtonSelect)="onDialogOKSelected($event); dialog.close()"
            message="Are you sure you want to delete this item?">
</igx-dialog>
