<div class="sample-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-6">
        <section class="sample-content">
          <article class="sample-column">
            <div class="input-group-form">

              <h4 class="sample-title default-text-color">find a new friend</h4>
              <div class="row mt-20">
                <div class="col-md-9">
                  <igx-input-group type="box">
                    <input id="name" igxInput name="name" type="text" [(ngModel)]="name"/>
                    <label igxLabel for="name">Name</label>
                    <igx-suffix>
                      <igx-icon>person</igx-icon>
                    </igx-suffix>
                  </igx-input-group>
                </div>

                <div class="col-md-3">
                  <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" (click)="onSubmit()">
                    <igx-icon fontSet="material">search</igx-icon>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>

      <div class="col-md-8 col-sm-6">

      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 col-sm-6">
        <igx-list *ngIf="usersList && usersList.length">
          <igx-list-item isHeader="true">Users</igx-list-item>
          <igx-list-item *ngFor="let user of usersList" (click)="openConversation(user)">
            {{ user.name + ' | ' + user.email }}
          </igx-list-item>
        </igx-list>
      </div>
    </div>

  </div>
</div>
