<p>Records page!</p>

<div>
  <input class="form-control" type="text" [(ngModel)]="recordName"><br>
  <button class="btn btn-primary" (click)="resetInputValue()">Reset</button>
</div>


<div>
  <h2>ViewChild Interactions</h2>
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>`
</div>

<app-record [message]="message">
  <div *ngIf="true; else anotherComponent">
    <h1 [ngClass]="'text-center'" [ngStyle]="{color: 'red'}" >Slot information</h1>
  </div>

  <ng-template #anotherComponent>
    <h2 [ngStyle]="{color: 'green'}">Bom bom!</h2>
  </ng-template>

</app-record>
