<div class="super-container">
  <div class="headers-height">
    <app-header></app-header>
  </div>

  <div class="main-container">
    <div class="main-panel">

      <div class="container">
        <div class="mb-20">
          <h3 class="default-text-color">Technologies</h3>
        </div>

        <div>
          <igx-list>
            <igx-list-item isHeader="true">Sections</igx-list-item>
            <igx-list-item *ngFor="let technology of technologies$ | async">{{ technology }}</igx-list-item>
            <igx-list-item>Front_GitHub_<a target="_blank" href="https://github.com/Armen96/Angular-application"> https://github.com/Armen96/Angular-application</a></igx-list-item>
            <igx-list-item>Back_GitHub_<a target="_blank" href="https://github.com/Armen96/Nodejs-simple-API"> https://github.com/Armen96/Nodejs-simple-API</a></igx-list-item>
          </igx-list>
        </div>
      </div>

    </div>
  </div>
</div>


