<div>
  <div class="mb-20">
    <h3 class="default-text-color">Technologies</h3>
  </div>

  <div>
    <igx-list>
      <igx-list-item isHeader="true">Sections</igx-list-item>
      <igx-list-item>Angular v9, RxJS, NgRx, TypeScript, Jasmin, UI Infragistics</igx-list-item>
      <igx-list-item>Node.js, Express, MongoDB</igx-list-item>
      <igx-list-item>CI&CD Jenkins, TravisCI</igx-list-item>
      <igx-list-item>Docker, Kubernetes, Firebase, AWS ES2, S3</igx-list-item>
      <igx-list-item>Front_GitHub_<a target="_blank" href="https://github.com/Armen96/Angular-application"> https://github.com/Armen96/Angular-application</a></igx-list-item>
      <igx-list-item>Back_GitHub_<a target="_blank" href="https://github.com/Armen96/Nodejs-simple-API"> https://github.com/Armen96/Nodejs-simple-API</a></igx-list-item>
    </igx-list>
  </div>
</div>
