<div>
  <div class="mb-20">
    <h3 class="default-text-color">Sign Up</h3>
  </div>

  <div class="igx-container">
    <div class="login-form">
    <form #form="ngForm" id="login-form" class="smart-form client-form check-required">
      <h2 class="alert alert-danger" *ngIf="error">Something went wrong, Please try again!</h2>

      <fieldset>
        <section>
          <label class="label">Name: </label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" name="name" #name required />
            <b class="tooltip tooltip-top-right">
              <i class="fa fa-user txt-color-teal"></i>
              Enter Name </b>
          </label>
        </section>

        <section>
          <label class="label">Email: </label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="email" name="email" #email required />
            <b class="tooltip tooltip-top-right">
              <i class="fa fa-user txt-color-teal"></i>
              Enter Email </b>
          </label>
        </section>

        <section>
          <label class="label">Password</label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" name="password" #password required />
            <b class="tooltip tooltip-top-right">
              <i class="fa fa-lock txt-color-teal"></i>
              Enter Password </b>
          </label>
        </section>

        <section>
          <button type="button" class="btn-color clickable"
                  (click)="register(name.value, email.value, password.value)">
                <span>
                Sign Up
               </span>
          </button>
        </section>
      </fieldset>
    </form>
  </div>
  </div>
</div>
