.login-img-container {
  /* background: #1B212D; */
  /* background: #024059; */
  background: #F4F4F4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-50 {
  max-width: 15%;
}

.login-icon {
  right: 3%;
  position: fixed;
  top: 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}

.img-70 {
  max-width: 70%;
}

.flex.flex-center {
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

.alert-fix {
  font-size: 14px;
  letter-spacing: normal;
}

.login-form {
  width: 350px;
}

.version-text {
  font-size: smaller;
}
