<div>
  <div>
    <h2>Technologies</h2>
  </div>

  <div>
    <igx-list>
      <igx-list-item isHeader="true">Sections</igx-list-item>
      <igx-list-item>Angular v8, RxJS, NgRx, TypeScript, Jasmin</igx-list-item>
      <igx-list-item>CI&CD Jenkins, TravisCI</igx-list-item>
      <igx-list-item>Docker, Firebase</igx-list-item>
      <igx-list-item>UI Infragistics, API json.placeholder</igx-list-item>
      <igx-list-item>GitHub_<a target="_blank" href="https://github.com/Armen96/Angular-application"> https://github.com/Armen96/Angular-application</a></igx-list-item>
    </igx-list>
  </div>
</div>
