<div class="flex flex-start w-100 margin-bottom-20">
  <a [routerLink]="['/records']" class="flex flex-start back-navigation">
    <igx-icon fontSet="material" class="margin-right-5">arrow_back</igx-icon>
    <span>{{ 'HEADERS.RECORDS' | translate }}</span>
  </a>
</div>
<div class="margin-bottom-20">
  <h3 class="igx-typography__h5 flex-grow-1 margin-top-0">Add Record</h3>
</div>
<igx-divider></igx-divider>
<form [formGroup]="newRecordForm" class="input-group-form margin-bottom-20 margin-top-20"
      (ngSubmit)="doSave()" autocomplete="off">
  <fieldset>
    <section class="row margin-bottom-20">
      <igx-input-group class="col-xs-6">
        <input igxInput type="text" name="name" formControlName="body">
        <label igxLabel>Body</label>
      </igx-input-group>
      <igx-input-group class="col-xs-6">
        <input igxInput type="text" name="description" formControlName="title">
        <label igxLabel>Title</label>
      </igx-input-group>
    </section>

    <section class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary " [disabled]="(isLoading$ | async) || newRecordForm.invalid"
                igxButton="raised" igxButtonColor="white" igxButtonBackground="#000" igxRipple="yellow">
          Save
        </button>
        <button type="button" class="btn btn-primary margin-left-10" [disabled]="isLoading$ | async"
                (click)="doCancel()" igxButton="raised" igxButtonColor="white" igxButtonBackground="#000" igxRipple="yellow">
          Cancel
        </button>
      </div>
    </section>
  </fieldset>
</form>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>
