<div class="super-container">
  <div class="headers-height">
    <app-header></app-header>
  </div>

  <div class="main-container">
    <div class="main-panel">


        <div class="sample-wrapper">
          <div class="row">
            <div class="col-md-12" style="padding: 0">
              <div class="col-md-3" style="padding: 0 15px">
                <app-user-search (openConversation)="openConversation($event)"></app-user-search>
              </div>

              <div class="col-md-6 col-sm-6">
                <app-user-conversation *ngIf="conversationStatus"
                                       [selectedUser]="selectedUser" [roomId]="roomId"
                                       (closeChat)="closeChat($event)"
                ></app-user-conversation>
              </div>

              <div class="col-md-3">
                <app-user-friend
                  (openConversation)="openConversation($event)"
                  [friends]="friends"
                ></app-user-friend>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

