<section class="sample-content">
  <article class="sample-column">
    <div class="input-group-form">

      <h4 class="sample-title default-text-color">find a new friend</h4>
      <div class="row mt-20">
        <div class="col-md-9">
          <igx-input-group type="box">
            <input id="name" igxInput name="name" type="text" [(ngModel)]="name"/>
            <label igxLabel for="name">Name</label>
            <igx-suffix>
              <igx-icon>person</igx-icon>
            </igx-suffix>
          </igx-input-group>
        </div>

        <div class="col-md-3">
          <button class="pull-right" igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#32465a" igxRipple="#FBB13C" (click)="onSearch()">
            <igx-icon fontSet="material">search</igx-icon>
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
