<form [formGroup]="myForm" (ngSubmit)="loginUser(myForm)">

  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" formControlName="name" placeholder="Your name">
    <p>Your choosen name: {{ myForm.get('name').value }}</p>
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input class="form-control" formControlName="email" placeholder="Your email">
  </div>

  <div class="form-group">
    <label>Message:</label>
    <input class="form-control" formControlName="message" placeholder="Your message">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>

</form>
